*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f9fa;
  color: #333;
}

.feed-menu {
  position: fixed;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 4px;
  display: flex;
  flex-direction: column;
  z-index: 9999;

  button {
    background: none;
    border: none;
    padding: 6px 10px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;

    &:hover {
      background: #f0f0f0;
    }
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  min-height: 85px;
  border-bottom: 1px solid #e0e0e0;

  .title {
    margin-block: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4px;
    padding-inline: 10px;
    font-size: 17px;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-inline-end: 20px;
    gap: 10px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      margin-right: 6px;

      &:hover {
        color: #007bff;
      }
    }
  }

  .feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-inline: 10px;

    .feed-title {
      font-size: 1.3em;
      font-weight: 600;
    }

    .feed-url {
      margin: auto;
      font-size: 0.9em;
      color: #666;

      a {
        color: #007bff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .url {
          max-width: 350px;
          word-wrap: break-word;
          overflow-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .feed-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin: 0;
      font-size: 0.9em;
      color: #666;
    }
  }
}

.actions button.loading {
  color: #007bff;

  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.feeds-container {
  display: flex;
  height: calc(100vh - 85px);
}

.feeds {
  width: 300px;
  background: white;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f8f9fa;

  .feed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: #f8f8f8;
    }

    &.active {
      background: #eaf3ff;
      border-left: 4px solid #007bff;
    }

    &.dragging {
      opacity: 0.5;
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &.drag-over {
      border-color: #007bff;
      background-color: #eaf3ff;
    }

    .feed-menu-btn {
      padding: 10px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: #007bff;
      }
    }

    .drag-handle {
      /* cursor: move; */
      cursor: grab;
      opacity: 0.5;
      margin-inline: 6px;
      pointer-events: auto;


      &:hover {
        opacity: 1;
        color: #333;
        background-color: #eee;
        border-radius: 4px;
      }

      &:active {
        cursor: grabbing;
      }
    }

    .feed {
      flex: 1;
      min-width: 0;
      padding: 12px 10px;
      position: relative;

      .unread {
        position: absolute;
        top: 5px;
        right: -10px;
        font-size: 11px;
        font-weight: bold;
        background-color: #2563eb;
        line-height: 1;
        color: #fff;
        border-radius: 50px;
        padding: 3px 6px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .title {
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;

        img {
          display: inline-block;
          margin-bottom: -2px;
        }
      }

      .url {
        font-size: 11px;
        color: #777;
        margin-top: 5px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        color: #666;
        font-size: 12px;
      }
    }
  }
}

.items-wrapper {
  flex: 1;
  padding: 16px;
  background: #fafafa;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f8f9fa;
}

.items {

  .item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;

    a {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &:hover {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    }

    .item-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .date {
        font-size: 12px;
        color: #888;
        margin-bottom: 6px;
      }

      .actions {
        display: flex;
        gap: 8px;

        svg {
          cursor: pointer;
          color: #888;

          &:hover {
            color: #007bff;
          }
        }
      }
    }

    .item-title {
      font-size: 1.1rem;
      font-weight: bold;
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      font-size: 0.9rem;
      font-weight: 500;
    }

    .content,
    .description {
      color: #555;
      margin-bottom: 1rem;
      line-height: 1.6;
      white-space: pre-line;

      * {
        white-space: normal;
      }

      p,
      div,
      article,
      section {
        margin: 0 0 1.2em;
      }

      h1,
      h2,
      h3 {
        margin: 1.6em 0 0.8em;
        line-height: 1.3;
        font-weight: 600;
      }

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      img {
        max-width: 100%;
        height: auto;
        margin: 1.5em auto;
        border-radius: 8px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
      }

      a {
        color: #0066cc;
        text-decoration: none;
        font-weight: 500;
      }

      a:hover {
        text-decoration: underline;
      }

      blockquote {
        margin: 1.5em 0;
        padding: 1em 1.5em;
        background: #f7f7f7;
        border-left: 4px solid #0077cc;
        border-radius: 6px;
        font-style: italic;
        color: #444;
      }
    }

    &.unread {
      background: #f0f9ff;
    }

    .media {
      margin-block: 12px;

      img,
      video {
        max-width: 100%;
        border-radius: 4px;
      }
    }

    pre,
    code {
      direction: ltr;
      text-align: left;
    }

  }

}